/*
 * some bengali fonts
 */
@font-face {
    font-family: 'Nimbus Roman';
    /*src: url('SolaimanLipi.ttf') format('truetype');*/
    src: url('NimbusRomNo9L.woff2') format('woff2');
}


@font-face {
    font-family: 'SolaimanLipi';
    /*src: url('SolaimanLipi.ttf') format('truetype');*/
    src: url('SolaimanLipi.woff2') format('woff2');
}
/* @font-face {
    font-family: 'BenSen';
    src: url('BenSen.ttf') format('truetype');
    src: url('BenSen.woff2') format('woff2');
} */

@font-face {
    font-family: 'Kalpurush';
    /*src: url('Kalpurush.ttf') format('truetype');*/
    src: url('Kalpurush.woff2') format('woff2');
}

/* @font-face {
    font-family: 'Charukola';
    src: url('Charukola.ttf') format('truetype');
} */

@font-face {
    font-family: 'LalSabuj';
    /*src: url('Lal-Sabuj-Normal.ttf') format('truetype');*/
    src: url('Lal-Sabuj-Normal.woff2') format('woff2');
}

@font-face {
    font-family: 'BenSenHandwriting';
    /*src: url('BenSenHandwriting.ttf') format('truetype');*/
    src: url('BenSenHandwriting.woff2') format('woff2');
}

/*
    Import League Gothic <3
*/

    
@font-face {
    font-family: 'League Gothic';
    src: url('leaguegothic-regular-webfont.eot');
    src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('leaguegothic-regular-webfont.woff') format('woff'),
    url('leaguegothic-regular-webfont.ttf') format('truetype'),
    url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.main-container {
    max-width: 900px;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
}

.container {
    text-align: center;
}

/* for mobile screens otherwise it messes up the nav*/
#searchFieldNav {
    width: 65%;
}

h1.title > span {
   /* font-family: "League Gothic", "Arial Narrow", Arial, sans-serif;*/
    font-family: "LalSabuj";
    margin-bottom: 1.75rem;
    font-size: 1.26em;
    font-weight: normal;
}

@media only screen and (max-width: 600px) {
 h1.title > span {
     font-size: 0.85em;
  }
}

.subtitle {
    font-size:  0.80em; /*0.80em;*/
    margin-top: -1.0rem;
}

/*Adding font-family: "Open Sans", sans-serif; for temporary*/
.post {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 1em;
}

.nice-title {
    font-size: 2em;
    font-weight: 400;
    /*font-family: Roboto, sans-serif;*/
    font-family: "BenSenHandwriting";
    
}


/*Will use it later*/
.nice-title-link > a {
    color: #0000CD;
}

.nice-eng-title {
    font-family: "Kalpurush";
}
    
/*replacing "Open Sans", sans-serif; for temporary*/
.nice-text {
    font-family: "Kalpurush";
}


.card-content {
    /*padding-left: 3.5em;*/
    /*padding: 0 0 1em;*/
}

.card-content-avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.card-content-mini-caption {
    font-size: small;
}

.fa-heart:hover {
    color: red;
}

.footer {
    background-image: url("/assets/images/white-painted-wall.jpg");
    padding: 3rem 1.5rem 3rem;
}

.post-title {
    font-size: x-large;
    /*font-family: Roboto, sans-serif;*/
    font-family: "SolaimanLipi";
    font-weight: normal;
}

.post-meta {
    font-family: "Open Sans", sans-serif;
    font-size: small;
}

/*Replacing font-family: "Open Sans", sans-serif;  for temporary*/
.post-text {
    font-family: "Kalpurush"; 
    font-size: 1.2em;
    /*color: #edf5fc;*/
}

.post-text > p {
    margin-bottom: 1em;
    white-space: pre-wrap;
}

/* sorry God. Just once */
.sidebar {
    padding: 0 0.75rem 0.75rem 0.75rem !important;
}

.box {
    padding: 0.75rem;
    margin-bottom: 0.75rem;
    /*background-image: url("/assets/images/fogs-on-green-mountain.jpg");*/
    /*background-image: linear-gradient(#d6eff2, #e8f6f7);*/
    background-image: linear-gradient(#E3FDF5, #FFE6FA); /*now*/
    /*background-image: linear-gradient(#f3e7e9, #e3eeff);*/
    
}

/*.box-background-image {
    background-image: url("/assets/images/fogs-on-green-mountain-1054222.jpg");
    opacity: 10;
}*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-image: url("/assets/images/brick.jpg");
 
}

a {
    color: #4682B4;
}
/* Hotfix for lists being misaligned */
.tile.is-parent ol, ul {
  padding: 2% 5%;
}
/* Hotfix for Bulma striping headings of styling */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
.post-author-name {
    font-family: Kalpurush;
    border-bottom: 2px solid black;
    /*text-align:  right;*/
}
@media screen and (max-width: 768px) {
  .pagination {
    /*flex-wrap: nowrap;*/
  }
  .pagination-list {
    font-size: 0%;
  }
}


/*marquee*/
/*It is stackoverflow which keeps developers sane*/

.marquee {
  width: 450px;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "LalSabuj";
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  /* show the marquee just outside the paragraph */
  animation: marquee 15s linear infinite;
}

.marquee span:hover {
  animation-play-state: paused
}


/* Make it move */

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}/* ~ jpasholk */
